@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
/*=========================================================
cleaning browser Styles
=========================================================*/
body, div, dl, dt, dd, li, pre,
form, fieldset, input, textarea, p, blockquote, th, td, button { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-size: 100%; font-weight: normal; }
address, caption, cite, code, dfn, em, strong, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th { text-align: left; font-weight: normal; font-style: normal; }
acronym, abbr, fieldset, img { border: 0;}
:focus { outline: 0; }
/*=========================================================*/

body{ font-family: 'Roboto', sans-serif; }

.padre{ 
    position: relative;
    width: 100%;

}
.hijo {
    position: absolute;
    width: 960px;
    left: 50%;
    transform: translate(-50%, -0%);
}
.container {
    width: 960px;
    border: 1px #cce solid;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }
  

.menu {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    }

.dia{ 
	width: 12%; 
    background-color: #e8503a;
    color: #fff;
    height: 25px;
    text-align: left;
    padding:2px 2px; 
    font-size: 14px;
}
.ico{ 
	width: 8%; 
    background-color: #e8503a;
    color: #fff;
    height: 25px;
    padding:2px 2px; 
    font-size: 14px; 
}
.txtVerde{
    color:#81b181;
}
.left{ text-align: left; padding-left: 5px; }
.right{ text-align: right; padding-right: 5px; }

.horaAgenda{ 
	width: 8%; 
	color:#db7878;
    font-size: 12px;
}
.diaAgenda{ 
    width: 12%; 
    background-color: rgba(249, 255, 156, 0.35);
    color: #217dc6;
    height: 25px;
    text-align: center;
    padding:2px 2px; 
    font-size: 14px;
    padding:5px 5px;
}

.diaAgenda > * {
    display: table-cell;
    vertical-align: middle;
  }
